@font-face {
  font-family: NotoSansJP;
  font-weight: 100;
  src: url("../fonts/NotoSansJP/NotoSansJP-Thin.ttf");
}

@font-face {
  font-family: NotoSansJP;
  font-weight: 300;
  src: url("../fonts/NotoSansJP/NotoSansJP-Light.ttf");
}

@font-face {
  font-family: NotoSansJP;
  font-weight: 400;
  src: url("../fonts/NotoSansJP/NotoSansJP-Regular.ttf");
}

@font-face {
  font-family: NotoSansJP;
  font-weight: 500;
  src: url("../fonts/NotoSansJP/NotoSansJP-Medium.ttf");
}

@font-face {
  font-family: NotoSansJP;
  font-weight: 700;
  src: url("../fonts/NotoSansJP/NotoSansJP-Bold.ttf");
}
